
:root{
    --heding-text-font: @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
    --body-text-font : @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');
    --heading-font-size: 2.5em;
    --sub-heading-font-size: 1.2em;
    --body-font-text: 1em;

    --primary-color: #00fb3f;
    --black-color: #06060c;
    --offwhite-color: #e6e6e6;
    --shadow-color: #b1b1b1;
    --whte-color: #ffffff;
    --error-color: #fe1313;
    --success-color: #06c025;;
}



@media only screen and (min-width: 1200px){
    *{
        padding: 0;
        margin: 0;
        
    }
        body{
            background: var(--offwhite-color);
            font-family: Poppins;
    
            .main{
                width: 100%;
                height: 100vh;
                align-content: center;
                //background: var(--black-color);
                display: flex;
           
                .container{
                    background: var(--whte-color);
                    width: 50vw !important;;
                   // height: 80vh;
                    margin: auto auto;
                    border-radius: .5em;
                    box-shadow: 1px 1px 20px 2px var(--shadow-color);
                    box-sizing: border-box;
                    padding: 3em;
                    
    
                    input, select{
                        box-sizing: border-box;
                        margin-top: 1em;
                        width: 100%;
                        height: 3em;
                        padding: .2em 1em;
                        //font-size: var(--body-font-size);
                        border-radius: .5em;
                    }
    
                    
                    select{
                      font-size: 1.2em;
                   }
                    #date{
                      font-size: 1.5em;
                   }
                    label{
                        color: var(--primary-color);
                        font-weight: bold;
                    }
    
                    input{
                        font-size: 1.2em;
                        background: var(--white-color);
                        border: .1em solid var(--black-color);
                        
                        &:focus{
                            border: .1em solid var(--primary-color)
                        }
                    }
    
                    .info-header{
                         margin-bottom: 2em;
                         .home{
                             font-size: 1.5em;
                             color: var(--primary-color)
                         }
                    }
                    .info-header, .name-container, .contact-container{
                        display: flex;
                        justify-content: space-between;
    
                    }
    
                    .empty-space{
                        width: 2.5em;
                    }
    
                    .gender-container{
                        display: flex;
                        position: relative;
    
                        .dob-label{
                            position: relative;
                            width: 20em;
                            margin: auto
                        }
                    }
    
                    .cert{
                        display: flex;
                        margin: .7em auto;
    
                        label{
                            margin: auto;
                        }
                        input{
                            width: 2em;
                            display: inline;
                            position: relative;
                            margin: auto auto auto -2em;
                        }
                    }
    
                    .submit-contianer{
                        display: flex;
                        
                        
    
                        .submit-btn{
                            width: 25em;
                            background: var(--primary-color); 
                            margin:auto;
                            border: none;
                            color: var(--whte-color);
                            font-size: 1.2em;
                        }
                    }
                } 
            }
    
            .footer{
                background: var(--black-color);
               // height: 20vh;
                width: 100wh;
                display: flex;
    
                .footer-element{
    
                }
            }
        }
        .overlay{
            height: 100vh;
            width: 90%;
          //  background: #00fb3f;
            position: absolute;
            z-index: 99;
        }
        .adcontainer{
           
            width: 90vw;
           // height: 80vh;
            margin: 5em auto;
            border-radius: .5em;
            box-shadow: 1px 1px 20px 2px var(--shadow-color);
            box-sizing: border-box;
            padding: 3em;
    
            .remove{
                display: none;
                text-align: center;
            }
        }
    
}